<html lang="zh-cn">
<head>
    <title>MineBlog</title>
    {% include "header.html" %}
</head>
<body>
{% include 'navbar.html' %}
<div class="container">
    <div class="row">
        <div class="col-lg-9">
            {% for blog in blog_list %}
                <div class="card neo_card mt-4">
                    <div class="card-body">
                        <div class="media">
                            <div class="media-body small">
                                <h4><a class="link-dark" href="/blog/view/{{ blog.id }}">{{ blog.title }}</a>
                                </h4>
                                <div>
								<span class="username">
									<a href="/user/blog/{{ blog.username }}"
                                       class="text-muted font-weight-bold">{{ blog.nickname }}</a>
								</span>
                                    <span class="text-grey ml-2">{{ blog.timestamp }}</span>
                                </div>
                            </div>
                        </div>
                        <hr>
                        {{ blog.summary }}
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="col-lg-3">
            {% if tp_user.is_authenticated %}
                <div class="card neo_card mt-4">
                    <div class="card-body">
                        <a href="/blog/create" class="btn btn-dark btn-block text-white badge-pill">发博客</a>
                    </div>
                </div>
                <div class="card neo_card mt-4">
                    <div class="card-body text-center">
                        <img src="https://twimi.cn/user/avatar?username={{ tp_user.username }}" class="rounded-circle center-block" width="72px"/>
                        <h4 class="card-title">{{ tp_user.username }}</h4>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% include 'footer.html' %}
</body>
</html>