<html lang="zh-cn">
<head>
    <title>{{ blog.title }}</title>
    {% include "header.html" %}
</head>
<body>
{% include 'navbar.html' %}
<div class="container">
    <div class="row">
        <div class="col-lg-9">
            <div class="card neo_card mt-4">
                <div class="card-body">
                    <h1>{{ blog.title }}</h1>
                    <div class="media">
                        <img class="rounded-circle"
                             src="https://twimi.cn/user/avatar?username={{ blog.username }}"
                             width="48px"/>
                        <div class="media-body ml-3 small">
                            <h6><a href="#" class="text-muted font-weight-bold">{{ blog.username }}</a></h6>
                            <div>
                                <span class="text-grey text-muted font-weight-bold">{{ blog.timestamp }}</span>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="markdown-body">
                        {{ blog.content|safe }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'footer.html' %}
</body>
</html>